%p.local.hierarchy_picker{:data => {'hierarchy-picker-url' => local_hierarchy_picker_path(:format => 'json'),
                          'hierarchy-picker-push-url' => push_url }, :id => id }= linked_breadcrumb local
