%h1 Todos os Clientes

%table.entity-list
  - @clients.each do |client|
    %tr
      %td= client.title
      %td= link_to client.name, client_path(client.id)
      %td
        .email= client.email

= render 'common/pagination', :elements => @clients
