#messages
  position: fixed
  width: 40%
  margin: auto
  text-align: center

  .message
    +border-radius(12px)
    border: thin solid gray
    font-size: 2em
    height: 1.4em
    line-height: 1em
    margin: 0.1em 0
    min-width: 12em
    padding: 0 .2em
    line-height: 1.4em
    width: 100%

  .message-error
    color: red
    border-color: red
    background-color: lighten(red, 46%)
