#loading-more{ :data => {:url => url} }
  %input#loading-more-counter{:type => :hidden, :value => 0}
  #loading-more-interface
    .loading Carregando...
    .full Nenhum dado a mais para carregar
    .idle Mostrar mais
